<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config/*.properties</value>
            </list>
        </property>
    </bean>

    <!-- aspectj aop启用CGliB代理 -->
    <aop:aspectj-autoproxy expose-proxy="true" proxy-target-class="true"/>
    <context:annotation-config/>
    <!-- 扫描service -->
    <context:component-scan base-package="com.wangzhixuan.service"/>

    <import resource="classpath:spring/spring-mybatis.xml"/>
    <import resource="classpath:spring/spring-ehcache.xml"/>
    <!-- 
    <import resource="classpath:spring/spring-redis.xml"/>
     -->
    <!-- Spring 异步event需要开启task -->
    <import resource="classpath:spring/spring-task.xml"/>
    <import resource="classpath:spring/spring-shiro.xml"/>
</beans>